<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">New Task</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', task: @task %>
  </div>
</div>

<%= link_to 'Back', tasks_path, class: 'btn btn-default' %>
